<!DOCTYPE html>
<html>
    <head>
        <title>GuacG | Gevent WS Guacamole Broker</title>
    </head>
    <body>
        <div id='display'></div>

        <!-- Guacamole libs -->
        <script src="{{ url_for('static', filename='arraybufferreader.js') }}"></script>
        <script src="{{ url_for('static', filename='arraybufferwriter.js') }}"></script>
        <script src="{{ url_for('static', filename='audiochannel.js') }}"></script>
        <script src="{{ url_for('static', filename='blobreader.js') }}"></script>
        <script src="{{ url_for('static', filename='inputstream.js') }}"></script>
        <script src="{{ url_for('static', filename='integerpool.js') }}"></script>
        <script src="{{ url_for('static', filename='outputstream.js') }}"></script>
        <script src="{{ url_for('static', filename='parser.js') }}"></script>
        <script src="{{ url_for('static', filename='status.js') }}"></script>
        <script src="{{ url_for('static', filename='stringreader.js') }}"></script>
        <script src="{{ url_for('static', filename='stringwriter.js') }}"></script>

        <script src="{{ url_for('static', filename='keyboard.js') }}"></script>
        <script src="{{ url_for('static', filename='mouse.js') }}"></script>
        <script src="{{ url_for('static', filename='layer.js') }}"></script>
        <script src="{{ url_for('static', filename='tunnel.js') }}"></script>

        <script src="{{ url_for('static', filename='client.js') }}"></script>
        <!-- Guacamole libs -->
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
