<!DOCTYPE html>
<html>
    <head>
        <title>GuacG | Gevent Websocket Guacamole Broker</title>
    </head>
    <body>
        <div id='display'></div>

        <!-- Guacamole libs -->
        <script src="{{ url_for('static', filename='ArrayBufferReader.js') }}"></script>
        <script src="{{ url_for('static', filename='ArrayBufferWriter.js') }}"></script>
        <script src="{{ url_for('static', filename='AudioChannel.js') }}"></script>
        <script src="{{ url_for('static', filename='BlobReader.js') }}"></script>
        <script src="{{ url_for('static', filename='InputStream.js') }}"></script>
        <script src="{{ url_for('static', filename='IntegerPool.js') }}"></script>
        <script src="{{ url_for('static', filename='OutputStream.js') }}"></script>
        <script src="{{ url_for('static', filename='Parser.js') }}"></script>
        <script src="{{ url_for('static', filename='Status.js') }}"></script>
        <script src="{{ url_for('static', filename='StringReader.js') }}"></script>
        <script src="{{ url_for('static', filename='StringWriter.js') }}"></script>

        <script src="{{ url_for('static', filename='Keyboard.js') }}"></script>
        <script src="{{ url_for('static', filename='OnScreenKeyboard.js') }}"></script>
        <script src="{{ url_for('static', filename='Mouse.js') }}"></script>
        <script src="{{ url_for('static', filename='Layer.js') }}"></script>
        <script src="{{ url_for('static', filename='Tunnel.js') }}"></script>
        <script src="{{ url_for('static', filename='Display.js') }}"></script>

        <script src="{{ url_for('static', filename='Client.js') }}"></script>
        <!-- Guacamole libs -->

        <script src="{{ url_for('static', filename='guacg.js') }}"></script>

        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
