<!DOCTYPE html>
<html>
    <head>
        <title>GuacG | Gevent Websocket Guacamole Broker</title>

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="col-md-1 col-md-offset-5" style="position: fixed;z-index: 1000;top: 0px;">
            <button id="resume" type="button" class="btn btn-default" data-attr-status="on">
                <span class="glyphicon glyphicon-pause" title="Pause"></span>
                <!-- <span class="glyphicon glyphicon-play" title="Resume"></span> -->
            </button>
        </div>

        <div id='display' style="min-height:1500px;"></div>

        <!-- Guacamole libs -->
        <script src="{{ url_for('static', filename='ArrayBufferReader.js') }}"></script>
        <script src="{{ url_for('static', filename='ArrayBufferWriter.js') }}"></script>
        <script src="{{ url_for('static', filename='AudioChannel.js') }}"></script>
        <script src="{{ url_for('static', filename='BlobReader.js') }}"></script>
        <script src="{{ url_for('static', filename='InputStream.js') }}"></script>
        <script src="{{ url_for('static', filename='IntegerPool.js') }}"></script>
        <script src="{{ url_for('static', filename='OutputStream.js') }}"></script>
        <script src="{{ url_for('static', filename='Parser.js') }}"></script>
        <script src="{{ url_for('static', filename='Status.js') }}"></script>
        <script src="{{ url_for('static', filename='StringReader.js') }}"></script>
        <script src="{{ url_for('static', filename='StringWriter.js') }}"></script>

        <script src="{{ url_for('static', filename='DataURIReader.js') }}"></script>
        <script src="{{ url_for('static', filename='JSONReader.js') }}"></script>
        <script src="{{ url_for('static', filename='Object.js') }}"></script>
        <script src="{{ url_for('static', filename='Version.js') }}"></script>


        <script src="{{ url_for('static', filename='Keyboard.js') }}"></script>
        <script src="{{ url_for('static', filename='OnScreenKeyboard.js') }}"></script>
        <script src="{{ url_for('static', filename='Mouse.js') }}"></script>
        <script src="{{ url_for('static', filename='Layer.js') }}"></script>
        <script src="{{ url_for('static', filename='Tunnel.js') }}"></script>
        <script src="{{ url_for('static', filename='Display.js') }}"></script>

        <script src="{{ url_for('static', filename='Client.js') }}"></script>
        <!-- Guacamole libs -->

        <script src="{{ url_for('static', filename='guacg.js') }}"></script>

        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
